AI_CACHE_TTL_MS=
AI_DAILY_BUDGET_USD=
AI_HOURLY_BUDGET_USD=
AI_MAX_RETRIES=
AI_TIMEOUT_MS=
BIQUITI_API_KEY=
BIQUITI_AUTH_HEADER=
BIQUITI_BASE_URL=
BIQUITI_CANDLES_PATH=
BIQUITI_SYMBOL_MAP_XAUUSD=
BIQUITI_TIMEOUT_MS=
FIXTURES_DIR=
GP_MODE=
GP_SCAN_INTERVAL_MS=
GP_SYMBOLS=
GP_TIMEFRAMES=
MODEL_LATENCY_MS=
MODEL_SLIPPAGE_POINTS=
MODEL_SPREAD_POINTS=
NOVITA_API_KEY=
NOVITA_BASE_URL=
NOVITA_MODEL=
RISK_ACCOUNT_EQUITY=
RISK_DAILY_LOSS_CAP_PCT=
RISK_MARGIN_CEILING_PCT=
RISK_MAX_DRAWDOWN_PCT=
RISK_MAX_OPEN_TRADES=
RISK_NET_EXPOSURE_MAX=
RISK_PER_TRADE_PCT=
RISK_WEEKLY_LOSS_CAP_PCT=
SUPABASE_SERVICE_KEY=
SUPABASE_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=